body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="submit"]{
  color:blue;
  background-color:pink;
  padding:0px 5px 0px 5px;
  border-radius:8px;
}
button{
  color:red;
  border: radius 5px;
}
input[type="text"]{
  color:saddlebrown;
  background-color:white;
}



